/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(10,10,10);
 
}

 /* Set scrollbar to be thinner and change colour */ 
 body::-webkit-scrollbar {
    width: 0.8rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #282828;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #5643fd;
  }

/* Choose the appearance of the tags, h1, h3 and p: */

h1{ font-family: 'Jost', monospace;
  
  font-size: 60px;
  text-align: center}

 h2{font-family: 'Jost', sans-serif, monospace;
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 30px
}

h3, p{font-family: 'Jost', sans-serif, monospace;
    color:rgb(255, 255, 255);
    text-align: center;
}



.myWeek{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0%;
  max-width: 1000px;
  background-color: rgb(0,0,0);
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
}
  
.myWeek1{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0%;
  max-width: 1000px;
  background-color: rgb(0,0,0);
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
}

.myWeek2{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0%;
  max-width: 1000px;
  background-color: rgb(0,0,0);
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;

}


.myWeek3{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0%;
  max-width: 1000px;
  background-color: rgb(0,0,0);
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;

}

.myWeek4{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0%;
  max-width: 1000px;
  background-color: rgb(0,0,0);
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;

}

.myWeek5{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0%;
  max-width: 1000px;
  background-color: rgb(0,0,0);
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;

}

.myWeek6{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0%;
  max-width: 1000px;
  background-color: rgb(0,0,0);
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;

}

.myWeek7{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0%;
  max-width: 1000px;
  background-color: rgb(0,0,0);
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;


}

.myWeek8{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0%;
  max-width: 1000px;
  background-color: rgb(0,0,0);
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
}

.myWeek9{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0%;
  max-width: 1000px;
  background-color: rgb(0,0,0);
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;

}

.myWeek10{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0%;
  max-width: 1000px;
  background-color: rgb(0,0,0);
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;

}


/* Set the apperance of the class, image */

.png1{
  display:block;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(8,36,92);
}  


/* Set the apperance of the class, chart */
.chart{
    display:block;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(8,36,92);
}

/* Set the apperance of individual charts */

#chart5{
  width: fit-content;
  margin: 0 auto;
  
}

#chart6{
  width: fit-content;
  margin: 0 auto;
  
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(8,36,92);
  margin: 0 auto;

}

/*For the buttons*/

/* BUTTONS */

a{
  display: block;
  text-align: center;
  width: 10%;
  margin:10px;
  margin: auto;

}  


.center-text {
  text-align: center;
}

a.center-text {
  display: block;
}

#link{
  background-color: rgb(37, 37, 37, 0.5);
  padding:10px;
  border:2px;
  border-color:rgb(80, 80, 80);
  border-style: solid;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:700;
  color:white;
  text-decoration: none;
}
  

#link:hover{

  background-color: rgba(37, 37, 37);
  border:2px;
  border-color:rgb(231, 231, 231);
  border-style: solid;
  
}



/* All styling for my side navigation bar - hands off */ 
  .navigation {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100%;
    background: rgb(10,10,10);
    transition: 0.5s;
    overflow: hidden;
    font-family: 'Epilogue', sans-serif;
  }
  
  .navigation:hover,
  .navigation.active {
    width: 200px;
  }
  
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
  }
  
  .navigation ul li:hover {
    background: #181818;
    transition: 0.5s ease;
    color: #1900ff
  }
  
  .navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #FAFAFA;
  }
  
  .navigation ul li a:hover {
    color: #1900ff;
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  
  .navigation ul li a .icon .fa {
    font-size: 22px;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }
  
  .toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: rgb(10,10,10);
    cursor: pointer;
  }
  
  .toggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #FEFEFE;
  }
  
  .toggle.active:before {
    content: '\f057';
  }
  
  
  
  
  
  
  
  
  
  /*
Media queries that allow both a stable mobile and desktop version of my website */

  @media (max-width: 700px) {
    .navigation {
      left: -60px;
      z-index: 1;
    }
  
    .navigation.active {
      left: -60px;
      width: 700px;
      height: 100%;
      z-index: 1;
    }
  
    .navigation:hover {
      width: 700px;
    }
  
    .toggle, .toggle.active, .toggle.active:before, .toggle:before {
      z-index: 1;
    }
  
    div.rest {
      left: -275px;
      margin-left: 30px;
      margin-right: 50px;
      position: absolute;
    }
  }
  
  div.rest {
    margin-left: 300px;
    margin-right: 50px;
    padding: 1px 16px;
  } 

  /*loading screeeeen*/



  @import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700|Roboto:300,400,500,700");
 body {
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
}
 body.loaded {
	 overflow-y: auto;
}
 .overlay {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 100000000;
}
 .overlay .overlayDoor:before, .overlay .overlayDoor:after {
	 content: "";
	 position: absolute;
	 width: 50%;
	 height: 100%;
	 background: #111;
	 transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
	 transition-delay: 0.8s;
}
 .overlay .overlayDoor:before {
	 left: 0;
}
 .overlay .overlayDoor:after {
	 right: 0;
}
 .overlay.loaded .overlayDoor:before {
	 left: -50%;
}
 .overlay.loaded .overlayDoor:after {
	 right: -50%;
}
 .overlay.loaded .overlayContent {
	 opacity: 0;
	 margin-top: -15px;
}
 .overlay .overlayContent {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
	 transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}
 .overlay .overlayContent .skip {
	 display: block;
	 width: 130px;
	 text-align: center;
	 margin: 50px auto 0;
	 cursor: pointer;
	 color: #fff;
	 font-family: "Nunito";
	 font-weight: 700;
	 padding: 12px 0;
	 border: 2px solid #fff;
	 border-radius: 3px;
	 transition: 0.2s ease;
}
 .overlay .overlayContent .skip:hover {
	 background: #ddd;
	 color: #444;
	 border-color: #ddd;
}
 .loader {
	 width: 128px;
	 height: 128px;
	 border: 3px solid #fff;
	 border-bottom: 3px solid transparent;
	 border-radius: 50%;
	 position: relative;
	 animation: spin 1s linear infinite;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .loader .inner {
	 width: 64px;
	 height: 64px;
	 border: 3px solid transparent;
	 border-top: 3px solid #fff;
	 border-radius: 50%;
	 animation: spinInner 1s linear infinite;
}
 @keyframes spin {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
 @keyframes spinInner {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(-720deg);
	}
}

